@font-face {
  font-family: "JosefinSans";
  src:
    url("../assets/fonts/JosefinSans-VariableFont_wght.ttf") format("ttf");
}



*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html {
  color: var(--primary-font-color);
  background-color: var(--site-background);
  font-family: "JosefinSans";
}

h1,h2,h3,h4,h5,h6 {
  color: var(--primary-accent-color);
}

p,a,li {
  font-size: max(15px, 1rem);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

html {
  font-size: 9px;
}


/* Tablets */
@media only screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
}

/* Small Laptops and Desktops */
@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}

/* Medium to Large Desktops */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

/* Large Screens */
@media only screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}


.full-screen-height {
  height: 100vh;
}